USE [ContosoMedicalDB]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [DF_Appointments_Notes]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 12/1/2017 1:36:06 PM ******/
DROP TABLE [dbo].[Prescriptions]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 12/1/2017 1:36:06 PM ******/
DROP TABLE [dbo].[Patients]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 12/1/2017 1:36:06 PM ******/
DROP TABLE [dbo].[Doctors]
GO
/****** Object:  Table [dbo].[ArchivedPatients]    Script Date: 12/1/2017 1:36:06 PM ******/
DROP TABLE [dbo].[ArchivedPatients]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 12/1/2017 1:36:06 PM ******/
DROP TABLE [dbo].[Appointments]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 12/1/2017 1:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArchivedPatients]    Script Date: 12/1/2017 1:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivedPatients](
	[FullName] [nvarchar](70) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 12/1/2017 1:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Specialty] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 12/1/2017 1:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 12/1/2017 1:36:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[RepeatCount] [int] NOT NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDateTime], [Notes]) VALUES (1, 1, 1, CAST(N'2008-06-02T11:00:00.000' AS DateTime), N'No notes.')
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDateTime], [Notes]) VALUES (2, 1, 2, CAST(N'2008-06-02T11:30:00.000' AS DateTime), N'No notes.')
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDateTime], [Notes]) VALUES (3, 1, 3, CAST(N'2008-06-02T12:00:00.000' AS DateTime), N'No notes.')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty]) VALUES (1, N'Ian', N'Jenkins', N'Physiotherapy')
INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty]) VALUES (2, N'Chloe', N'Young', N'General')
INSERT [dbo].[Doctors] ([DoctorID], [FirstName], [LastName], [Specialty]) VALUES (3, N'Janet', N'Alvarez', N'Physiotherapy')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [DateOfBirth], [Photo]) VALUES (1, N'Isabella', N'Young', N'F', CAST(N'1964-12-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [DateOfBirth], [Photo]) VALUES (2, N'Justin', N'Harris', N'M', CAST(N'1966-02-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Gender], [DateOfBirth], [Photo]) VALUES (3, N'Jenna', N'Parker', N'F', CAST(N'1974-12-05T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [Description], [IssueDate], [RepeatCount]) VALUES (1, 1, N'Anti-inflammatory medication', CAST(N'2008-01-01T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [Description], [IssueDate], [RepeatCount]) VALUES (2, 1, N'Iron tablets', CAST(N'2008-02-03T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [Description], [IssueDate], [RepeatCount]) VALUES (3, 1, N'Antibiotics', CAST(N'2008-05-04T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appointments_Notes]  DEFAULT (N'No notes.') FOR [Notes]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
